<div class= "container"> 
    <button class="cancel-button" mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>cancel</mat-icon> Go Back
    </button> 
    <h3 class="title"> Agregar Marca</h3><hr>
    <mat-spinner class="center" *ngIf="isWait == true" ></mat-spinner>
    <div class="content">
    <form
    [formGroup]="marcaFormControl"
    (ngSubmit)="add()"
    >
        <div class="fields">
            <mat-form-field appearance="standard" class="">
                <mat-label>Marca</mat-label>
                <input matInput type="text" formControlName="nombre" />
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado">
                    <mat-option value="Activo">Activo</mat-option >
                    <mat-option value="Inactivo">Inactivo</mat-option >
                </mat-select>
            </mat-form-field>
        </div>
        <div class="add-button">
            <button
                [disabled]="marcaFormControl.invalid"
                mat-raised-button
                class="medium-blue-bg"
                type="submit"
            >
            <mat-icon>add_box</mat-icon> ADD
            </button>
        </div>
    </form>
</div>
</div>