<div *ngIf="tipo">
  <h1 mat-dialog-title>Edite Tipo de Producto</h1>
  <div mat-dialog-content>
    <p>Tipo: </p>
    <form
    [formGroup]="tipoForm"
    >
      <ng-template matStepLabel>Llene los datos del tipo de producto</ng-template>
      <div class="fields">
        <mat-form-field appearance="standard" class="">
          <mat-label>Tipo de Producto</mat-label>
          <input matInput type="text" formControlName="nombre" [(ngModel)]="tipo._nombre"/>
      </mat-form-field> <br>
      <mat-form-field appearance="standard" style="width: 10rem;">
      <mat-label>Descripcion</mat-label>
      <textarea matInput placeholder="Ex. Este posee..." formControlName="descripcion" [(ngModel)]="tipo._descripcion">
      </textarea>
      </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="save()" [disabled]="tipoForm.invalid"><mat-icon>save</mat-icon>Save</button>
  </div>
</div>