

<div class="container modern-form">
    <div class="text-center">
        <h4 style="color: #212529;font-size: 35px;">Consultar Estudios Analista</h4>
    </div>
    <hr class="modern-form__hr" />
    <div class="modern-form__form-container">

        <div class="col-md-12 search-table-col"><span class="counter pull-right"></span>
            <div class="table-responsive table-bordered table table-hover table-bordered results">
                <table class="table table-bordered table-hover">
                    <thead class="bill-header cs">
                        <tr>
                            <th id="trs-hd" class="col-lg-2">ID de Estudio</th>
                            <th id="trs-hd" class="col-lg-2">Nombre de Estudio</th>

                            <th id="trs-hd" class="col-lg-2">Estatus</th>
                            <th id="trs-hd" class="col-lg-2">Usuario</th>

                            <th id="trs-hd" class="col-lg-2">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="warning no-result">

                        </tr>
                        <tr *ngFor= "let est of estudios; let i = index" >

                            <td >{{est._id}}</td>
                            <td >{{est._nombre}}</td>
                            <td >{{est._estatus}}</td>
                            <td >{{est._usuario._id}}</td>
                            <td ><button mat-fab (click)= "openDialog(est)" class="btn btn-success material-b" style="  margin-left: 5px;
                            "><mat-icon style="  font-size: 15px;
                            ">search</mat-icon></button>
                            <button mat-fab class="btn btn-success material-b" style="  margin-left: 5px;
                            "><mat-icon style="  font-size: 15px;
                            ">assignment</mat-icon></button>
                            <button mat-fab class="btn btn-success material-b" style="  margin-left: 5px;
                            "><mat-icon style="  font-size: 15px;
                            ">find_in_page</mat-icon></button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <form>
            <div class="form-row">
                <div class="col text-center"><button (click)= "busquedaEstudios()" class="boton btn btn-primary submit-now mat-raised-button" type="submit"
                 >Refrescar</button></div>
            </div>
        </form>
    </div>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element._nombre}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element._estatus}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element._usuario._id}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>