<div *ngIf="respuesta" >
    <h1 mat-dialog-title>Edite la respuesta</h1>
    <div mat-dialog-content>
      <p>Respuesta: </p>
      <mat-form-field>
        <mat-label >Nombre</mat-label>
        <input matInput [(ngModel)]="respuesta.nombre">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button  cdkFocusInitial (click)="guardar(respuesta)"><mat-icon>save</mat-icon>Save</button>
    </div>
  </div>