.modern-form__hr {
    border-color: #27c6ff;
    border-width: 3px;
    width: 120px;
  }

  .example-full-width {
    width: 100%;
  }


  .close{
    float: right;
    top:-24px;
    right:-24px;
  }

  .text-center{
      text-align: center;
  }

  .mat-button, .mat-raised-button{
    background-color:#27c6ff;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #27c6ff !important;;
 }

 ::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #27c6ff !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #27c6ff !important;
} 
::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #27c6ff !important;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
