  <app-navigation></app-navigation>
  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="wrapper fadeInDown">
    <h1 style="color: aliceblue; top: -6rem;
    position: relative;
    font-size: 2em;
    cursor: grab;">MercadeoUCAB</h1>
    <div id="formContent">

      <h1>Gestion</h1>

      <div class="container">

        <!-- administrador -->
        <div class="row" *ngIf="(user.idRol == 1)">
          <div class="col-sm">
            <a [routerLink]="['/producto']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
              <span><mat-icon style="font-size: 50px;">folder</mat-icon></span>
              <br>Productos
            </a>
          </div>
          <div class="col-sm">
            <a [routerLink]="['/listadoPregunta']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
              <span><mat-icon style="font-size: 50px;">dynamic_form</mat-icon></span>
              <br>Preguntas
            </a>
          </div>
          <div class="col-sm">
            <a [routerLink]="['/listasolicitudes']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
              <span><mat-icon style="font-size: 50px;">book</mat-icon></span>
              <br>Solicitudes y Estudios
            </a>
          </div>
          <div class="col-sm">
            <a [routerLink]="['/consultarpersona']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
              <span><mat-icon style="font-size: 50px;">face</mat-icon></span>
              <br>Usuarios
            </a>
          </div>
        </div>



        <!-- Cliente -->
        <div class="row" *ngIf="(user.idRol == 3)">
          <div class="col-sm">
            <a [routerLink]="['/producto']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
              <span><mat-icon style="font-size: 50px;">folder</mat-icon></span>
              <br>Productos
            </a>
          </div>
          <div class="col-sm">
            <a [routerLink]="['/registrarSolicitudEstudio']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
              <span><mat-icon style="font-size: 50px;">book</mat-icon></span>
              <br>Solicitar Estudio
            </a>
          </div>
          <div class="col-sm">
            <a [routerLink]="['/vistaSolicitud']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
              <span><mat-icon style="font-size: 50px;">book</mat-icon></span>
              <br>Consultar Estudio
            </a>
          </div>
        </div>


        <!--  Encuestado  -->
        <div class="row" *ngIf="(user.idRol == 4)">
          <div class="col-sm">
            <a [routerLink]="['/contestarencuesta']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
              <span><mat-icon style="font-size: 50px;">folder</mat-icon></span>
              <br>Responder Encuesta
            </a>
          </div>
          <div class="col-sm">
            <a [routerLink]="['/consultarestudioencuestado']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
              <span><mat-icon style="font-size: 50px;">book</mat-icon></span>
              <br>Consultar Estudios Disponibles
            </a>
          </div>
        </div>


          <!--  Analista  -->
          <div class="row" *ngIf="(user.idRol == 2)">
            <div class="col-sm">
              <a [routerLink]="['/consultarestudioanalista']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><mat-icon style="font-size: 50px;">folder</mat-icon></span>
                <br>Consultar Estudios Asignados
              </a>
            </div>
            <div class="col-sm">
              <a [routerLink]="['/consultarencuestadoestudio']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><mat-icon style="font-size: 50px;">book</mat-icon></span>
                <br>Consultar Muestra
              </a>
            </div>
            <div class="col-sm">
              <a [routerLink]="['/consultarencuestadoestudio']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><mat-icon style="font-size: 50px;">book</mat-icon></span>
                <br>Entrevista
              </a>
            </div>
          </div>





      </div>

      <div id="formFooter">
        <a class="underlineHover"><mat-icon>android</mat-icon></a>
      </div>
    </div>
 <br>
    <div id="formContent">

    <button mat-button [matMenuTriggerFor]="producto">Producto</button>
  <mat-menu #producto="matMenu">
    <button mat-menu-item [routerLink]="['/categorias']" [matMenuTriggerFor]="categoria">Categoria</button>
    <button mat-menu-item [routerLink]="['/subcategoria']" [matMenuTriggerFor]="subcategoria">Subcategoria</button>
    <button mat-menu-item [routerLink]="['/marca']" [matMenuTriggerFor]="marca">Marca</button>
    <button mat-menu-item [routerLink]="['/tipo']" [matMenuTriggerFor]="tipo">Tipo</button>
  </mat-menu>

  <mat-menu #categoria="matMenu">
    <button mat-menu-item [routerLink]="['/categorias/create']">Crear</button>
  </mat-menu>

  <mat-menu #subcategoria="matMenu">
    <button mat-menu-item [routerLink]="['/subcategoria/create']">Crear</button>
  </mat-menu>

  <mat-menu #marca="matMenu">
    <button mat-menu-item [routerLink]="['/marca/create']">Crear</button>
  </mat-menu>

  <mat-menu #tipo="matMenu">
    <button mat-menu-item [routerLink]="['/tipo/create']">Crear</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="pregunta">Pregunta</button>
  <mat-menu #pregunta="matMenu">
    <button mat-menu-item [routerLink]="['/listadoPregunta']" [matMenuTriggerFor]="Gestionpregunta">Listar</button>
  </mat-menu>

  <mat-menu #Gestionpregunta="matMenu">
    <button mat-menu-item [routerLink]="['/registraPregunta']">Registrar</button>
  </mat-menu>


</div>

  </div>

</body>
</html>

