<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a style="margin-bottom: 10px" routerLink="datousuario" (click) = "closeNav()">Agregar Encuestado</a>
  <a style="margin-bottom: 10px" routerLink="consultarpersona" (click) = "closeNav()">Consultar Usuario</a>
  <a style="margin-bottom: 10px" routerLink="consultarestudios" (click) = "closeNav()">Consultar Estudio</a>
  <a style="margin-bottom: 10px" routerLink="crearusuario" (click) = "closeNav()">Crear Usuario</a>
  <a style="margin-bottom: 10px" routerLink="crearestudio" (click) = "closeNav()">Crear Estudio</a>
  <a style="margin-bottom: 10px" routerLink="consultarestudioanalista" (click) = "closeNav()">Consultar Estudio Analista</a>
  <a style="margin-bottom: 10px" routerLink="consultarestudioencuestado" (click) = "closeNav()">Consultar Estudio Encuestado</a>
  <a style="margin-bottom: 10px" routerLink="consultarencuestadoestudio" (click) = "closeNav()">Consultar Encuestados por Estudio</a>
  <a style="margin-bottom: 10px" routerLink="asignarpreguntasaestudio" (click) = "closeNav()">Asignar Preguntas</a>
  <a style="margin-bottom: 10px" routerLink="contestarencuesta" (click) = "closeNav()">Contestar encuestas</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <button class="openbtn" (click)="openNav()">&#9776;</button>

</div>
