<app-navigation></app-navigation>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <a [routerLink]="['/categorias']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-folder"></i></span>
        <br>Categoria
      </a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/subcategoria']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-tablet"></i></span>
        <br>Subcategoria
      </a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/marca']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-apple"></i></span>
        <br>Marca
      </a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/tipo']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-glass"></i></span>
        <br>Tipo
      </a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/presentacion']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-bus"></i><i class="fa fa-automobile"></i></span>
        <br>Presentacion
      </a>
    </div>
  </div>
</div>
<mat-divider style="margin: 30px;"></mat-divider>
<div class="container">
  <div class="row"> 
  <mat-list>
    <div mat-subheader>Producto</div>
    <mat-list-item *ngFor="let producto of productos">
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>{{producto.nombre}}</div>
      <div mat-line> {{producto.descripcion}} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Notes</div>
    <mat-list-item>
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line></div>
      <div mat-line>  </div>
    </mat-list-item>
  </mat-list>
</div>
</div>