<app-navigation></app-navigation>
<button mat-fab [routerLink]="['/admin']" color="primary" style="position: fixed; left: 2rem; top: 5rem;">
  <mat-icon>arrow_back</mat-icon>
  </button> 
<div class="container">

  <div class="row">
    <div class="col-sm">
      <a [routerLink]="['/categorias']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><mat-icon style="font-size: 50px;">folder</mat-icon></span>
        <br>Categoria
      </a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/subcategoria']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><mat-icon style="font-size: 50px;">tablet</mat-icon></span>
        <br>Subcategoria
      </a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/marca']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><mat-icon style="font-size: 50px;">android</mat-icon></span>
        <br>Marca
      </a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/tipo']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><mat-icon style="font-size: 50px;">wine_bar</mat-icon></span>
        <br>Tipo
      </a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/presentacion']" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><mat-icon style="font-size: 50px;">directions_bus</mat-icon></span>
        <br>Presentacion
      </a>
    </div>
  </div>
</div>
<mat-divider style="margin: 30px;"></mat-divider>
<button [routerLink]="['/producto/create']" matTooltip="Crear Nuevo Producto"
mat-fab color="primary" style="position: fixed; right: 2rem; top: 5rem;">
  <mat-icon>add</mat-icon>
</button>

<div class="container">
  <table class="table table-hover" data-pagination="true" data-toggle="table">
    <thead  class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Subcategoria</th>
        <th scope="col">Marca</th>
        <th scope="col">Estado</th>
        <th scope="col">Usuario</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let producto of productos">
      <tr [ngClass]="{'table-danger': producto._estado === 'I'}">
        <th scope="row">{{producto._id}}</th>
        <td> {{producto._nombre}}</td>
        <td> {{producto._descripcion}}</td>
        <td>{{producto._subcategoria._nombre}}</td>
        <td>{{producto._marca._nombre}}</td>
        <td>{{producto._estado}}</td>
        <td>{{producto._usuario.nombreUsuario}}</td>
        <td><button mat-icon-button color="primary"  matTooltip="Detalles Producto" style="cursor: pointer;" routerLink="/producto/detalle/{{producto._id}}" >
          <mat-icon>fact_check</mat-icon>
        </button>
        <button mat-icon-button color="warn" style="cursor: pointer;" (click) = "delete(producto)" [disabled]="producto._estado === 'I'"> 
          <mat-icon>delete</mat-icon>
        </button></td>
      </tr>
      
    </tbody>
  </table>
</div>
