<body>
    

    <div class="wrapper fadeInDown" *ngIf="currDiv=='A'">
        <div class="container-alert mt-5">
            <div *ngIf ="Alert" class="alert alert-danger alert-dismissible fade show " role="alert">
                <strong>Oops!!</strong> ¡El correo no existe!
                <button mat-button  cdkFocusInitial (click)="showAlert(false)"><mat-icon>close</mat-icon></button>
            </div>
        </div>
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Recuperar contraseña </h2>
            <!-- Login Form -->
            <form #validaCorreoForm="ngForm" (ngSubmit)="onCorreo(validaCorreoForm)">
                <div class="form-group">
                    <input type="text" class="fadeIn third" name="correo"
                        placeholder="Ingrese su correo electronico" #correo="ngModel"
                        [ngModel]="usuario.correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    <small *ngIf="!correo.valid && correo.touched"
                        class="invalid-feedback d-block">
                        Coloque un correo válido
                    </small>
                </div>
                <input type="submit" class="fadeIn fourth" value="Acceder" [disabled] = "validaCorreoForm.invalid ">
            </form>
        </div>
    </div>
    
    <!-- 
    <div class="wrapper fadeInDown" *ngIf="currDiv=='B'">
        <div id="formContent">
            
            <h2 class="active"> Recuperar contraseña </h2>
            
            <form #recuperarClaveForm="ngForm" (ngSubmit)="onRecupera(recuperarClaveForm)">
                <div class="form-group">
                    <input type="text" class="fadeIn third" name="codigoRecuperacion"
                        placeholder="Código de Recuperacion" #codigoRecuperacion="ngModel"
                        [(ngModel)]="usuario.codigoRecuperacion" pattern="^[0-9]+" required>
                    <small *ngIf="!codigoRecuperacion.valid && codigoRecuperacion.touched"
                        class="invalid-feedback d-block">
                        Solo se permiten números.
                    </small>
                </div>
                <input type="submit" class="fadeIn fourth" value="Acceder" [disabled]="recuperarClaveForm.invalid">
            </form>
        </div>
    </div>
-->
</body>