<app-navigation></app-navigation>

<div style="display: flex; margin: 15px;"> 
  <div style="color: blue; cursor: pointer;" [routerLink]="['/analista']">Home / </div>
  <div style="color: blue; cursor: pointer;" [routerLink]="['/consultarestudioanalista']">Estudios / </div>
  <div>{{idEstudio.estudioName}}</div>
</div>

<div class="container"> 

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. German" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows [hidden]="!dataSource" matSort class="mat-elevation-z8">
  
    <!-- Encuestado Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"
      (click)="expandedElement = expandedElement === element ? null : element">
       {{element._datoUsuario._cedula}} </td>
    </ng-container>

    <!-- Estudio Column -->
    <ng-container matColumnDef="Encuestado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
      <td mat-cell *matCellDef="let element"
      (click)="expandedElement = expandedElement === element ? null : element">
      {{element._datoUsuario._primerNombre}} {{element._datoUsuario._primerApellido}}  </td>
    </ng-container>
  
    <!-- Fecha Inicio Column -->
    <ng-container matColumnDef="Correo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
      <td mat-cell *matCellDef="let element"
      (click)="expandedElement = expandedElement === element ? null : element">
         {{element._correo}}  </td>
    </ng-container>
  
    <!-- Fecha Fin Column -->
    <ng-container matColumnDef="Rol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
      <td mat-cell *matCellDef="let element"
      (click)="expandedElement = expandedElement === element ? null : element">  
        {{element._rol._nombre}}  </td>
    </ng-container>

    <!-- Options Column -->
    <ng-container matColumnDef="Opciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones</th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opciones" (click)="isEmptyForm(element._id)">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [disabled]="element._datoUsuario._disponibilidadEnLinea !='No' || isEmpty !=true" (click)="contestar(element._id)">
            <mat-icon>featured_play_list</mat-icon>
            <span>Responder Encuesta</span>
          </button>
          <button mat-menu-item [disabled]="isEmpty != true" (click)="verResultados(element._id)">
            <mat-icon>fact_check</mat-icon>
            <span>Ver Respuesta</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
            <p> <strong>Datos del Usuario :  </strong> </p>
            <p> Usuario: {{element._nombreUsuario}} </p>
            <p> Nombres: {{element._datoUsuario._primerNombre}} {{element._datoUsuario._segundoNombre}} </p>
            <p> Apellidos: {{element._datoUsuario._primerApellido}} {{element._datoUsuario._segundoApellido}}</p>
            <p> Estado Civil: {{element._datoUsuario._estadoCivil}} </p>
            <p> Fecha Nacimiento: {{element._datoUsuario._fechaNacimiento | date }}</p>
            <p> Genero: {{element._datoUsuario._sexo}}</p>
          </div>
          <div class="example-element-description" style="white-space: pre-line;">
            <p> <strong>Datos Laboral:  </strong> </p>
            <p> Ocupacion: {{element._datoUsuario._ocupacion._nombre }}</p>
            <p> Nivel Economico: {{element._datoUsuario._nivelEconomico._nivel }}</p>

          </div>
          <div class="example-element-description" style="white-space: pre-line;">
            <p> <strong>Datos Vivienda:  </strong> </p>
            <p> Ubicacion: {{element._datoUsuario._lugar._nombre}}</p>
            <p> Disponibilidad en Linea: {{element._datoUsuario._disponibilidadEnLinea}} </p>
            <p> Vive con: {{element._datoUsuario._conCuantasPersonasVive}} persona/s</p>
          </div>
        </div>
      </td>
    </ng-container>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">El dato "{{input.value}}" no se encuentra</td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          >
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>

  <mat-progress-bar mode="query"  *ngIf="isWait == true" ></mat-progress-bar>

  <br>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  <div class="col text-center">
    <button mat-fab color="warn" (click)= "getMuestra()" aria-label="Refrescar">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

</div> 
