<div class="container"> 
    <div class="text-center">
        <h4 style="color: #212529;font-size: 35px;">Data Muestra de Estudio del analista X</h4>
        <h5 style="color: #212529;font-size: 35px;">Encuestados que han respondido</h5>

    </div>
    <hr class="modern-form__hr" />
</div> 

<div class="container"> 

    <table mat-table [dataSource]="encuestados" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Encuestado Column -->
        <ng-container matColumnDef="Encuestado">
          <th mat-header-cell *matHeaderCellDef> Encuestado </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
      
        <!-- Estudio Column -->
        <ng-container matColumnDef="Estudio">
          <th mat-header-cell *matHeaderCellDef> Estudio </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreEstudio}}  </td>
        </ng-container>
      
        <!-- Fecha Inicio Column -->
        <ng-container matColumnDef="Fecha Inicio">
          <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaInicioEstudio}}  </td>
        </ng-container>
      
        <!-- Fecha Fin Column -->
        <ng-container matColumnDef="Fecha Fin">
          <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
          <td mat-cell *matCellDef="let element">  {{element.fechaFinEstudio}}  </td>
        </ng-container>

        <!-- Options Column -->
        <ng-container matColumnDef="Opciones">
          <th mat-header-cell *matHeaderCellDef> Opciones</th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button aria-label="Opciones">
              <mat-icon>more_vert</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-progress-bar mode="query"  *ngIf="isWait == true" ></mat-progress-bar>

      <div class="col text-center"><button (click)= "getMuestra()" class="boton btn btn-primary submit-now mat-raised-button" type="submit"
        >Refrescar</button></div>
</div> 
