.mat-form-field {
    margin: 3%;
  }
  
  .mat-form-field + .mat-form-field {
    margin-left: 20px;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

:focus {
  outline:none;
}