<app-navigation></app-navigation>

<div style="display: flex; margin: 15px;">
    <button [routerLink]="['/']" mat-icon-button color="primary">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2 class="mt-1">Landing Page</h2>
  </div>

<button [routerLink]="['/registrarSolicitudEstudio']" mat-fab color="primary"
  style="position: fixed; right: 2rem; top: 5rem;">
  <mat-icon>add</mat-icon>
</button>

<div class="text-center">
    <h4 style="color: #212529;font-size: 45px;" class="mt-5">Solicitudes</h4>
    <hr class="modern-form__hr" />
</div>

<div class="container-j  mt-5">
    <div *ngFor = "let solicitud of solicitudes">
      <div class="row" style="margin: 7%;" *ngIf="solicitud._estado == 'A'">
        <mat-card class="card" style="width: '20rem';" >
          <mat-card-header>
            <mat-card-title>Solicitud: {{solicitud._descripcionSolicitud}}
              <hr>
            </mat-card-title>
            <mat-card-subtitle>Fecha: {{solicitud._fechaPeticion | date:"dd-MM-yyyy"}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content> Estatus: {{solicitud._estatus}} </mat-card-content>
          <mat-card-actions *ngIf="solicitud._estatus == 'Solicitado'">
            <button mat-icon-button [routerLink]="['/editaSolicitud']" (click)="editarSolicitud(solicitud._id)"color="primary" style="color: #00adeb">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button (click)="eliminarSolicitud(solicitud)" color="primary" style="color: red">
                <mat-icon>delete</mat-icon>
              </button>
          </mat-card-actions>
        </mat-card>
        </div>
    </div>
  </div>