<button mat-raised-button [hidden]= "true" (click)="enable = !enable">
  {{!enable ? 'Enable edit mode' : 'Disable edit mode'}}
</button>

<mat-vertical-stepper linear #stepper>
  <ng-container *ngFor = "let pregunta of preguntas | slice:0:1; let i = index">
    <mat-step  [stepControl]="firstFormGroup" [editable]="enable">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>{{pregunta.p}}</ng-template>
        <mat-form-field *ngIf = "pregunta.tipo == 'abierta'">
          <textarea matInput placeholder="textarea"></textarea>
        </mat-form-field>
        <mat-form-field *ngIf = "pregunta.tipo == 'cerrada'">
          <input matInput placeholder="Address" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            >
            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
              {{season}}
            </mat-radio-button>
          </mat-radio-group>
        <div>
          <button mat-button matStepperNext >Next</button>
        </div>
      </form>
    </mat-step>
  </ng-container >

</mat-vertical-stepper>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
