<app-navigation></app-navigation>

<div style="display: flex; margin: 15px;">
    <button [routerLink]="['/productos']" mat-icon-button color="primary">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <h2 class="mt-1">Estudios </h2>
</div>

<div class="text-center">
    <h4 style="color: #212529;font-size: 45px;" class="mt-5">Registro de Solicitud de Estudio</h4>
    <hr class="modern-form__hr" />
</div>

<form [formGroup]="registrarSolicitudForm" >

    <div class="container center">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <mat-spinner class="center" *ngIf="isWait === true"></mat-spinner>
            <div class="content ">
                <h2> Datos principales </h2>

                <div class="fields">
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Descripción de la solicitud</mat-label>
                                <input matInput type="text" formControlName="descripcionSolicitud"
                                    placeholder="Ej: Estudio sobre..." />
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Genero poblacional</mat-label>
                                <input matInput placeholder="Ej: Hombres" formControlName="generoPoblacional">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Fecha de la petición </mat-label>
                                <input matInput readonly formControlName="fechaPeticion"
                                    [ngModel]="this.fechaActual | date:'dd-MM-yyyy'">
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Edad minima de la población</mat-label>
                                <input matInput placeholder="Ej: 15 años" formControlName="edadMinimaPoblacion">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Edad máxima de la población</mat-label>
                                <input matInput placeholder="Ej: 25 años" formControlName="edadMaximaPoblacion">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Cantidad de personas que viven en el domicilio</mat-label>
                                <input matInput placeholder="5 personas" formControlName="conCuantasPersonasVive">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>¿Disponible en línea?</mat-label>
                                <mat-select formControlName="disponibilidadEnLinea">
                                    <mat-option value="Si">Si</mat-option>
                                    <mat-option value="No">No</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Nivel Económico</mat-label>
                                <mat-select formControlName="nivelEconomicoDto">
                                    <mat-option *ngFor="let nivel of nivelEconomico" [value]="nivel._id">
                                        {{nivel._nivel}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Producto a realizar estudio</mat-label>
                                <mat-select formControlName="productoDto">
                                    <mat-option *ngFor="let producto of productos" [value]="producto._id">
                                        {{producto._nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Ocupación</mat-label>
                                <mat-select formControlName="ocupacionDto">
                                    <mat-option *ngFor="let ocupacion of ocupacion" [value]="ocupacion._id">
                                        {{ocupacion._nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <h3>Región(es) de estudio</h3>
                        <div class="form-group modern-form__form-group--padding-r" formArrayName="regionAsignada">
                            <div *ngFor="let respuesta of registrarSolicitudForm.controls['regionAsignada'].controls; let i=index"
                                [formGroupName]="i">
                                <div class="row">
                                        <mat-form-field appearance="fill" class="example-medium-width ">
                                            <mat-label>Región de estudio</mat-label>
                                            <mat-select formControlName="lugarDto" >
                                                <mat-option *ngFor="let estado of regiones" [value]="estado._id">
                                                    {{estado._nombre}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div fxLayout="row" fxLayoutAlign="space-between center"><button mat-raised-button
                                            class="add-option width-100 mt-2 ml-2 mr-2" (click)="addNextRegion()">Añadir región</button>
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="space-between center">
                                            <button *ngIf="registrarSolicitudForm.controls.regionAsignada.controls.length > 1" (click)="deleteRegion(i)"
                                                mat-raised-button class="delete-btn mt-2">Eliminar región</button>
                                       </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
                <div class="add-button mt-3">
                    <button [disabled]="registrarSolicitudForm.invalid" mat-raised-button class="medium-blue-bg"
                        type="submit" (click)="guardar()">
                        Guardar
                    </button>
                </div>

            </div>
        </div>
    </div>
</form>






