
<app-navigation></app-navigation>

<div class="container">

    <div class="row">
      <!-- logo -->
      <div class="image">
         <h2 style="position: relative; left: 26%;"> Analista Page </h2>
      </div>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="row">
      <div id="estudio">
        <p>
        <mat-list>
          <div mat-subheader [routerLink]="['/consultarestudioanalista']" style="cursor: pointer;" matRipple style="cursor: pointer;"> <mat-icon>notifications</mat-icon>Estudios Asignados: </div>
          <mat-list-item *ngFor = "let estudio of estudios" [routerLink]="['/consultarestudioanalista']" style="cursor: pointer;" matRipple style="cursor: pointer;">
            <mat-icon mat-list-icon>assignment</mat-icon>
            <div mat-line> {{ estudio._nombre }} </div>
          </mat-list-item>
        </mat-list>
      </p>
    </div>

    </div>

</div>
<br>
<mat-divider></mat-divider>
<br>

<h2 class="modern-form__hr"> <strong>Analista </strong> Principal </h2>

<div class="container">
  <mat-divider></mat-divider>

  <div class="card text-white bg-info mb-3" style="max-width: 18rem;" matRipple >
    <div class="card-header" style="display: flex; justify-content: center; flex-flow: row; cursor: pointer;"><mat-icon style="font-size: 20px;">folder</mat-icon> Consultar Estudios </div>
    <div class="card-body">
      <h5 class="card-title">Estudios</h5>
      <p class="card-text" >Consulte los estudios asociados a su persona</p>
    </div>
    <button mat-icon-button aria-label="Acceder" type="submit" style="left: 80%;">
      <mat-icon>forward</mat-icon>
   </button>   
  </div>

  <div class="card text-white bg-info mb-3" style="max-width: 18rem;" matRipple >
    <div class="card-header" style="display: flex; justify-content: center; flex-flow: row; cursor: pointer;"><mat-icon style="font-size: 20px;">folder</mat-icon> NADA </div>
    <div class="card-body">
      <h5 class="card-title">Estudios</h5>
      <p class="card-text" >Consulte los estudios asociados a su persona</p>
    </div>
    <button mat-icon-button  aria-label="Acceder" type="submit" style="left: 80%;">
      <mat-icon>forward</mat-icon>
   </button>    
  </div>

  

</div>