
<form 
[formGroup]="form"> 
<h1 mat-dialog-title>Estatus del Estudio</h1>
<div mat-dialog-content>
    <p>Cambie el estatus del estudio actual:</p>

    <mat-form-field appearance="standard" class="">
        <mat-label>¿Disponible en línea?</mat-label>
        <mat-select formControlName="estatus">
            <mat-option value="Solicitado">Solicitado</mat-option>
            <mat-option value="En Proceso">En Proceso</mat-option>
            <mat-option value="Finalizado">Finalizado</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="actualizarEstudio()" cdkFocusInitial><mat-icon>save</mat-icon>Save</button>
</div>
</form>
