<app-navigation></app-navigation>


<div class="text-center mt-3">
  <h4 style="color: #212529;font-size: 35px;">Encuestas</h4>
</div>

<div class="container mt-3">

  <div class="row">
    <div class="col-sm-6">
      <button style="display:flex;flex-flow:row;justify-content:center;align-items:center;"
        class="btn btn-info submit-now mat-raised-button" type="submit" (click)="opcionBoton('A')">Disponibles
        <mat-icon>description</mat-icon></button>
    </div>
    <div class="col-sm-6">
      <button style="display:flex;flex-flow:row;justify-content:center;align-items:center;"
        class="btn btn-info submit-now mat-raised-button" type="submit" (click)="opcionBoton('B')">Respondidas
        <mat-icon>done</mat-icon></button>
    </div>
  </div>
</div>

<div class="container-j mt-5">
  <div *ngIf="showDiv == 'A'">
    <div *ngFor="let estudio of estudios; let i = index">
    <div class="row" style="margin: 7%;">
      <mat-card class="card" style="width: '20rem';">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Estudio: {{estudio.nombre}}<mat-divider></mat-divider>
          </mat-card-title>

          <mat-card-subtitle>Estatus {{estudio.estatus}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <div class="row">
            <div class="col-sm-12">Fecha Inicio: <strong>{{estudio.fechaI | date :'dd/MM/yyyy'}}</strong></div>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="encuesta(estudio.idEstudio)"><mat-icon>description</mat-icon></button>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-j  mt-5" *ngIf="showDiv == 'B'">
  <div *ngFor = "let respondida of encuestaRespondida">
    <div class="row" style="margin: 7%;">
      <mat-card class="card" style="width: '20rem';" >
        <mat-card-header>
          <mat-card-title>Estudio: {{respondida._nombre}}
          </mat-card-title>
          <mat-card-subtitle>Estatus: {{respondida._estatus}} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-sm-12">Fecha Inicio: <strong>{{respondida._fechaInicio | date: 'dd/MM/yyyy'}}</strong></div>
          </div>
          <div class="row">
            <div class="col-sm-12">Fecha Fin:    <strong>{{respondida._fechaFin | date: 'dd/MM/yyyy'}}</strong></div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)= "encuestaContestada(respondida._id)"  color="primary" style="color: #00adeb">
            <mat-icon>description</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>


