

<div class="container modern-form">
    <div class="text-center">
        <h4 style="color: #212529;font-size: 35px;">Consultar Estudios Encuestado</h4>
    </div>
    <hr class="modern-form__hr" />
    <div class="modern-form__form-container">

      <div *ngFor= "let estudio of estudios; let i = index">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{estudio.nombre}}<mat-divider></mat-divider></mat-card-title>

            <mat-card-subtitle>Solicitado el {{estudio.fechaI | date :'shortDate'}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
              Estado: {{estudio.estatus}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)= "encuesta(estudio.idEstudio)">Encuesta</button>

          </mat-card-actions>
        </mat-card>
      </div>

        <form>
            <div class="form-row">
                <div class="col text-center"><button (click)= "busquedaEstudios()" class="boton btn btn-primary submit-now mat-raised-button" type="submit"
                 >Buscar</button></div>
            </div>
        </form>
    </div>
</div>
