<app-navigation></app-navigation>

<div style="display: flex; margin: 15px;"> 
    <button [routerLink]="['/producto']" mat-icon-button color="primary">
    <mat-icon>arrow_back</mat-icon>
    </button> 
    <h2>Detalle Producto</h2>
</div>
<div class="container">
    <div *ngIf="producto">

        <div class="text-center">
            <h4 style="color: #212529;font-size: 40px;" class="mt-5">{{producto._id}} : {{producto._nombre | uppercase}}</h4>
            <p> Marca: {{producto._marca._nombre}}</p>
            <p> Subcategoria: {{producto._subcategoria._nombre}}</p>
            <hr class="modern-form__hr" />
        </div>
    
       

        <mat-accordion  class="headers-align">
            <mat-spinner class="center" *ngIf="isWait == true" ></mat-spinner>
            <form [formGroup]="productoForm" (ngSubmit)="saveProducto()"> 
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Producto: {{producto._nombre}} / Estado: {{ producto._estado }}
                </mat-panel-title>
                <mat-panel-description>
                  {{panelOpenState ? 'Editando' : 'Click para Editar'}} <mat-icon>create</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre Producto" [(ngModel)]="producto._nombre" formControlName="nombre" required>
              </mat-form-field>
         
              <mat-form-field>
                <mat-label>Descripcion</mat-label>
                <textarea matInput placeholder="Descripcion Producto" [(ngModel)]="producto._descripcion" 
                formControlName="descripcion" required> </textarea> 
                </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label>Subcategoria</mat-label>
                <mat-select  formControlName="subcategoriaDto" [(ngModel)]="producto._subcategoria._id" >
                <mat-option
                    *ngFor="let subcategoria of subcategorias"
                    [value]="subcategoria._id"
                    >
                    {{ subcategoria._nombre }}
                </mat-option>
                </mat-select>
               </mat-form-field>
              
               <mat-form-field appearance="standard">
                <mat-label>Marcas</mat-label>
                <mat-select  formControlName="marcaDto" [(ngModel)]="producto._marca._id" >
                <mat-option
                    *ngFor="let marca of marcas"
                    [value]="marca._id">
                    {{ marca._nombre }}
                </mat-option>
                </mat-select>
               </mat-form-field>
               <mat-action-row>
                <button mat-mini-fab color="primary" aria-label="Guardar Producto" type="submit" [disabled]="productoForm.invalid || producto._estado == 'I' ">
                    <mat-icon>save</mat-icon>
                 </button>              
                </mat-action-row>

            </mat-expansion-panel>
        </form>
          </mat-accordion>
          <br><br>
          <h2> Administrar Tipo y Presentacion</h2>
          <mat-divider></mat-divider>

          <form [formGroup]="productoFormTP" (ngSubmit)="addTipoPresentacion()"> 
          <mat-form-field appearance="standard" style="margin: 3%;">
            <mat-label>Tipos</mat-label>
            <mat-select formControlName="tipoDto">
            <mat-option
                *ngFor="let tipo of tipos"
                [value]="tipo._id">
                {{ tipo._nombre }}
            </mat-option>
            </mat-select>
            <mat-icon matSuffix>android</mat-icon>
           </mat-form-field>
            
           <mat-form-field appearance="standard" style="margin: 3%;" >
            <mat-label>Presentaciones</mat-label>
            <mat-select formControlName="presentacionDto">
            <mat-option
                *ngFor="let presentacion of presentaciones"
                [value]="presentacion._id">
                {{ presentacion._titulo }}
            </mat-option>
            </mat-select>
            <mat-icon matSuffix>android</mat-icon>
           </mat-form-field>
           <button mat-mini-fab color="primary" aria-label="Agregue tipos" type="submit" [disabled]="productoFormTP.invalid || producto._estado == 'I'">
            <mat-icon>add</mat-icon>
         </button>
     
        </form>


        <div class="container">
            <table class="table table-hover" data-pagination="true" data-toggle="table">
              <thead  class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Presentacion</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody *ngFor="let tp of productoTipoPresentacion">
                <tr *ngIf="producto._id == tp._producto._id">
                  <th scope="row">{{tp._id}}</th>
                  <td>{{tp._tipo._nombre}}</td>
                  <td>{{tp._presentacion._titulo}}</td>  
                  <td>{{tp._estado}}</td>   
                  <td>
                  <button mat-icon-button color="primary" (click)="openDialog(tp._id,tp._producto._id, tp._tipo._id, tp._presentacion._id)" [disabled]="tp._estado === 'I'">
                    <mat-icon>create</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="deleteTipoPresentacion(tp)" [disabled]="tp._estado === 'I'">
                    <mat-icon>delete</mat-icon>
                  </button>
                  </td>
                </tr>
                
              </tbody>
            </table>

            <div *ngIf="!productoTipoPresentacion">
              <mat-card style="cursor: context-menu; display: flex; justify-content: center;" matRipple> No hay tipos ni presentacion de productos </mat-card>
            </div>

          </div>
        

        </div>
</div>