/* Dialog */
  
.example-full-width {
    width: 100%;
    display: contents;
}

td {
    padding-right: 8px;
}

.mat-divider {
    margin-bottom: 3%;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}

/* Elimina el border de los botones */
:focus {
    outline:none;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 5px;
    background-color: #27c6ff;
}
  
::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #27c6ff;
    border: 2px solid #27c6ff;
}
