

<div class="container modern-form">
    <div class="text-center">
        <h4 style="color: #212529;font-size: 25px;">¿Que desea hacer?</h4>
    </div>
    <hr class="modern-form__hr" />
    <div class="modern-form__form-container">

    <div>
      <p>Existen con las mismas caracteristicas de poblacion.¿Desea utilizar alguna plantilla?</p>
    </div>

    <div class="derecha"><button class="btn btn-primary submit-now boton mat-raised-button" type="submit"
         (click) = "crearEstudioP()" >Utilizar una Plantilla</button></div>

     <div class="derecha"><button class="btn btn-primary submit-now boton mat-raised-button" type="submit"
         (click) = "crearEstudioN()" >Crear Nuevo Estudio</button></div>
    </div>

</div>
