<!-- <p *ngIf="producto">
        <mat-form-field appearance="standard">
            <mat-label>Tipo</mat-label>
            <mat-select #tipo>
            <mat-option
                *ngFor="let tipo of tipos"
                [value]="tipo._id">
                {{ tipo._nombre }}
            </mat-option>
            </mat-select>
            <mat-icon matSuffix>view_week</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
         <mat-label>Presentacion</mat-label>
         <mat-select #presentacion>
         <mat-option
             *ngFor="let presentacion of presentaciones"
             [value]="presentacion._id">
             {{ presentacion._titulo }}
         </mat-option>
         </mat-select>
         <mat-icon matSuffix>keyboard</mat-icon>
        </mat-form-field>
        <button (click)="add(tipo.value, presentacion.value)"> </button>

</p> -->