table{
    table-layout: fixed;
    width: 250px;
}

th, td {
    width: 75px;
    word-wrap: break-word;
}

#thead-color{
    background-color: #939393 !important;
}

.card {
    max-width: 400px;
  }
  
  .mat-card {
    display: flex;
    justify-content: space-between;
  }


/* Elimina el border de los botones */
:focus {
  outline:none;
}

  .chart {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .card {
    margin: 1%;
  }

  .mat-card {
    width: 15rem !important;
  } 

  .response {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .p-3{
    padding: 3rem !important;
    background-color: gray;
  }
  
  .rounded{
    border-radius: 1rem !important;
  }

    /* HighCharts */

  .highcharts-container {
    width: 100% !important;
  }

  .highcharts-root {
    width: 100% !important;
  }

  