table{
    table-layout: fixed;
    width: 250px;
}

th, td {
    width: 75px;
    word-wrap: break-word;
}

#thead-color{
    background-color: #939393 !important;
}

.card {
    max-width: 400px;
  }
  
  .mat-card {
    display: flex;
    justify-content: space-between;
  }
