.mat-fab{
    background-color:  #00adeb;
}

.container{
    justify-content: center;
}

.row{
    justify-content: center;
}
#caja1{
    background-color: #00adeb !important;
}

#thead-color{
    background-color: #939393 !important;
}

.card {
    max-width: 400px;
  }
  
  .mat-card {
    display: flex;
    justify-content: space-between;
  }
    
.container-j{
    display: flex;
    flex-flow: row wrap;
    padding-right: 15%;
    padding-left: 18%;
  }
  
.row-h{
    margin:5%;
  }