<div class= "container"> 
    <button class="cancel-button" mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>cancel</mat-icon> Go Back
    </button> 
    <h3 class="title"> Nuevo Producto</h3><hr>
    <mat-spinner class="center" *ngIf="isWait == true" ></mat-spinner>
    <div class="content">
        <mat-horizontal-stepper #stepper>
            <mat-step [stepControl]="productoFormSM" errorMessage="Datos Requeridos...">
                <form [formGroup]="productoFormSM">
                  <ng-template matStepLabel>Subcategoria y Marca...</ng-template>
                  <mat-form-field appearance="standard">
                    <mat-label>Categoria</mat-label>
                    <mat-select formControlName="subcategoriaDto">
                    <mat-option
                        *ngFor="let subcategoria of subcategorias"
                        [value]="subcategoria._id">
                        {{ subcategoria._nombre }}
                    </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>folder</mat-icon>
                   </mat-form-field>
                   <br>
                   <mat-form-field appearance="standard">
                    <mat-label>Marcas</mat-label>
                    <mat-select formControlName="marcaDto">
                    <mat-option
                        *ngFor="let marca of marcas"
                        [value]="marca._id">
                        {{ marca._nombre }}
                    </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>android</mat-icon>
                   </mat-form-field>
                   <div>
                    <p>Go to a different step to see the error state</p>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="productoFormData" errorMessage="Cosa">
                <form [formGroup]="productoFormData">
                  <ng-template matStepLabel>Llene los datos del Producto</ng-template>
                  <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre Producto" formControlName="nombre" required>
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <mat-label>Descripcion</mat-label>
                    <input matInput placeholder="Descripcion Producto" formControlName="descripcion"
                           required>
                  </mat-form-field>
                  <div>
                    <p>Go to a different step to see the error state</p>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <form [formGroup]="productoFormTP">
                  <button mat-mini-fab color="accent" aria-label="Agregue tipos" (click)="addTipo()">
                    Anadir Tipo <mat-icon>plus_one</mat-icon>
                  </button>
                  <ng-template matStepLabel>Tipo y Presentacion</ng-template>
                  <div formArrayName="tipo">
                    <div *ngFor="let tipo of productoFormTP.controls.tiposP.controls; let i=index">
                      <div>
                        <span>Tipos Producto {{i + 1}}</span>
                        <span *ngIf="productoFormTP.controls.tiposP.controls.length > 1" 
                            (click)="removeTipo(i)"> <mat-icon>clear</mat-icon>
                        </span>
                    </div>
                    <div [formGroupName]="i">
                      <mat-form-field>
                        <mat-label>Tipo</mat-label>
                        <input matInput placeholder="Tipo Producto" formControlName="tipo" required>
                      </mat-form-field>
                    </div>
                    </div>
                  </div>



                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Tipo y Presentacion</ng-template>
                <p>You are now done.</p>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="stepper.reset()">Reset</button>
                  <button mat-button (click)="add()">ADD</button>
                </div>
              </mat-step>
        </mat-horizontal-stepper>

      </div>
</div>


  
