
<app-navigation></app-navigation>

<div style="display: flex; margin: 15px;"> 
    <div style="color: blue; cursor: pointer;" [routerLink]="['/analista']">Home </div>
    <mat-icon style="font-size: 19px; height: 30px">keyboard_arrow_right</mat-icon>
    <div style="color: blue; cursor: pointer;" [routerLink]="['/consultarestudioanalista']">  Consulta Estudios </div>
    <mat-icon  style="font-size: 19px; height: 30px">keyboard_arrow_right</mat-icon>
    <div (click)="goBack()" style="color: blue; cursor: pointer;"> Muestra </div>
    <mat-icon  style="font-size: 19px; height: 30px">keyboard_arrow_right</mat-icon>
    <div> Respuesta </div>
</div>
  
<div class="container modern-form">
 <div class="text-center">
        <h4 style="color: #212529;font-size: 30px;">Encuesta Respondida</h4>
    </div>
   <hr class="modern-form__hr" />
 <ng-container *ngFor = "let r of respuestas3; let i = index">
  <div class="justify-content-md-center justify-content-lg-center modern-form__form-container" style="padding-right: 250px;padding-left: 250px;">
            <div class="shadow p-3 mb-5 bg-white rounded">

                <div class="col col-contact" >
                    <div  *ngIf = "r._tipoPregunta != 'Seleccion Multiple' " class="form-group modern-form__form-group--padding-r">
                    <label>{{r._enunciado}}</label>
                    <label class="form-control input input-tr" type="text"
                     value = "r._listaRespuestas[0]._descripcion" >{{r._listaRespuestas[0]._descripcion}}
                    </label>

                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                    </div>
                </div>


                  <div class="col col-contact" >
                      <div *ngIf = "r._tipoPregunta == 'Seleccion Multiple'" class="form-group modern-form__form-group--padding-r">

                          <label>{{r._enunciado}}</label>
                          <ng-container *ngFor = "let rs of r._listaRespuestas; let j = index">
                            <label class="form-control input input-tr" type="text"
                            value = "rs._descripcion" >{{rs._descripcion}}
                            </label>
                           </ng-container>

                          <div class="line-box">
                              <div class="line"></div>
                          </div>
                      </div>
                  </div>
              </div>

     </div>
  </ng-container >


</div>



