.container-fluid{
    width: 1350px !important;
}

.modern-form__hr{
    border-color: #27c6ff;
    border-width: 3px;
    width: 350px;
}

.table-striped thead tr:nth-of-type(odd) {
    background-color:  #27c6ff;
  }

.mat-fab{
    background-color:  #00adeb;
}