<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MercadeoUCAB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto topnav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown" *ngIf="(user.idRol == 1)">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Preguntas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/listadoPregunta']">Listar Pregunta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/registraPregunta']">Registrar Pregunta</a>
          <a class="dropdown-item" [routerLink]="['/respuestaPregunta']">Registrar Respuesta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/asignarpreguntasaestudio']">Asignar Preguntas a Estudio</a>

        </div>
      </li>
      
      <li class="nav-item dropdown" *ngIf="(user.idRol == 1) || (user.idRol == 3)">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Productos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/producto']">Home Producto</a>
          <div class="dropdown-divider" *ngIf="(user.idRol == 1)"></div>
          <div class="dropdown-header" *ngIf="(user.idRol == 1)">Gestione</div>
          <a class="dropdown-item" [routerLink]="['/categorias']" *ngIf="(user.idRol == 1)">Categorias</a>
          <a class="dropdown-item" [routerLink]="['/subcategoria']" *ngIf="(user.idRol == 1)">Subcategorias</a>
          <a class="dropdown-item" [routerLink]="['/marca']" *ngIf="(user.idRol == 1)">Marcas</a>
          <a class="dropdown-item" [routerLink]="['/tipo']" *ngIf="(user.idRol == 1)">Tipos de Producto</a>
          <a class="dropdown-item" [routerLink]="['/presentacion']" *ngIf="(user.idRol == 1)">Presentaciones de Productos</a>
        </div>
      </li>


      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
          Estudios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" [routerLink]="['/consultarestudios']" *ngIf="(user.idRol == 1)">Consultar Estudios Admin</a>
        <a class="dropdown-item" [routerLink]="['/registrarSolicitudEstudio']"  *ngIf="(user.idRol == 3)">Registrar solicitud</a>
        <a class="dropdown-item" [routerLink]="['/vistaSolicitud']"  *ngIf="(user.idRol == 3) || (user.idRol == 1)">Ver solicitudes</a>
        <a class="dropdown-item" [routerLink]="['/consultarestudioanalista']"  *ngIf="(user.idRol == 2)">Consultar Estudios</a>
        <a class="dropdown-item" [routerLink]="['/consultarestudioencuestado']" *ngIf="(user.idRol == 4)">Consultar Estudios</a>
      </div>
      </li>

            
      <li class="nav-item dropdown" *ngIf="(user.idRol == 1)">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/crearusuario']">Crear Usuario</a>
          <a class="dropdown-item" [routerLink]="['/consultarpersona']">Consultar Usuario</a>

      </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
          Gestionar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/crearusuario']">Crear Usuario</a>
        <a class="dropdown-item" [routerLink]="['/consultarpersona']">Consultar Usuario</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/consultarestudios']">Consultar Estudios Admin</a>
        <a class="dropdown-item" [routerLink]="['/crearestudio']">Crear Estudios</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/consultarestudioanalista']">Consultar Estudios Analist</a>
        <a class="dropdown-item" [routerLink]="['/consultarestudioencuestado']">Consultar Estudios Encuestado</a>
        <div class="dropdown-divider"></div>

        <a class="dropdown-item" [routerLink]="['/asignarpreguntasaestudio']">Asignar Pregunta Estudios</a>

        
      </div>
      </li>

      <li class="nav-item dropdown" *ngIf="(user.idRol == 2)">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
          Analista 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/contestarencuesta']">Responder Encuesta</a>
        <a class="dropdown-item" [routerLink]="['/consultarencuestadoestudio']">Consultar Encuestado Estudios</a>

      </div>
      </li>
      
    </ul>
    <ul class="navbar-nav  my-2 my-lg-0 topnav">
      <li class="nav-item" *ngIf="isUser==false">
          <a class="nav-link" [routerLink]="['/login']">Iniciar sesión</a>
      </li>
      <li class="nav-item" *ngIf="isUser==false">
        <a class="nav-link" [routerLink]="['/datousuario']">Registrate</a>
    </li>

      <li class="nav-item dropdown" *ngIf="isUser==true">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <mat-icon>account_circle</mat-icon> {{identity.nombreUsuario}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  [routerLink] ="['/userProfile']">Perfil</a>
          <a class="dropdown-item"  *ngIf="user" [routerLink]="['/logout/1']">Cerrar sesión</a>

        </div>
      </li>

      
    </ul>
  </div>
</nav>
