

              <div class="form-row row-cols-2 flex-row flex-grow-0 justify-content-center">
                <div class="col col-contact">
                  <ng-container *ngFor="let pregunta of preguntas;let i = index">
                    <div [hidden]="pregunta.isHidden" class="form-group modern-form__form-group--padding-r">
                    <mat-label>{{pregunta.description}}</mat-label>
                    <input class="form-control input input-tr" type="text" placeholder="Correo"
                    >
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                        <div class="col text-center">
                          <button class="btn btn-info submit-now mat-raised-button" type="submit" >Siguiente</button>
                        </div>
                    </div>
                  </ng-container>
                </div>
              </div>
